<section>
  <h2>Информация о заказе</h2>
  <div class="form-group">
    <table class="table">
      <thead></thead>
      <tbody>
        @let msg = notificationMessage();

        @if (msg) {
          <p>{{ msg }}</p>
        }
        @let list = orderService.orderList();

        @if (list.length > 0) {
          @for (item of list; track $index) {
            <tr>
              <td>
                <img [src]="item.image" [alt]="item.dish" class="image-container" />
              </td>
              <td>{{ item.dish }}</td>
              <td>{{ item.price | currency: 'RUB' : 'symbol' : '1.0-0' }}</td>
              <td>
                <button
                  type="button"
                  class="btn-order"
                  (click)="removeFromOrder($index, item.price)">
                  x
                </button>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</section>
