/* Flexbox внутри элементов формы */
@mixin form-group($max-height: 25rem, $margin-bottom: 15px) {
  display: flex;
  flex-direction: column;
  /* Элементы (label и input) выстраиваются вертикально */
  margin-bottom: $margin-bottom;
  max-height: $max-height;
  overflow-y: auto;
  overflow-x: hidden;

  &:first-child {
    label {
      color: var(--highlighting-color);
    }
  }

  label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 0.9rem;
  }

  select {
    padding: 10px;
    border: 1px solid var(--empty-color);
    border-radius: 4px;
    font-size: 1rem;
  }
}

@mixin order-button($padding: 6px 12px, $font-size: 1.1rem) {
  padding: $padding;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  font-size: $font-size;
  animation: example 6s ease-out infinite alternate-reverse;
}

@mixin styled-table(
  $padding: 10px,
  $bg-header: var(--primary-color),
  $text-header: var(--bg-color)
) {
  width: 100%;
  border-collapse: collapse; /* нет двойных рамок */
  margin-top: 10px;

  th,
  td {
    padding: $padding;
    text-align: left;
    border-bottom: 1px solid var(--empty-color);
  }

  th {
    background-color: $bg-header;
    color: $text-header;
    font-weight: 600;
  }

  tbody tr:nth-child(even) {
    background-color: var(--bg-tr-even);
  }

  tbody tr:hover {
    background-color: var(--bg-tr-hover);
  }
}

@mixin image-container($size: 80px, $radius: 6px) {
  width: $size;
  height: $size;
  object-fit: cover; /* отсутствие деформации */
  overflow: hidden; /* обрезка того, что может вылезть*/
  border-radius: $radius;
}

@keyframes example {
  0% {
    background-color: var(--primary-color, #2e7d32);
  }
  100% {
    background-color: #800020;
  }
}
