 <section class="menu-section">
            <h2>Меню кафе</h2>
            <div class="form-group">
                    <table class="table">
      <thead></thead>
    <tbody>
        @for (item of orderService.menu; track item.dish;) {
    <tr>
      <td>
        <img [src]="item.image" [alt]="item.dish" class="image-container"/>
      </td>
 <td> {{item.dish}}</td>
  <td>{{item.price | currency:'RUB':'symbol':'1.0-0' }}</td>
  <td>
     <button type="button" class="btn-order" 
                    (click)="orderService.addToOrder(item.image, item.dish, item.price); 
                            tipService.upBillAmount(item.price)">
                    +
    </button>
  </td>
    </tr>
}
    </tbody>
    </table>
        </div>
</section>