<section>
  <h2>Меню кафе</h2>
  <div class="form-group">
    <table class="table">
      <tbody>
        @for (item of orderService.menu; track item.dish) {
          <tr>
            <td>
              <img [src]="item.image" [alt]="item.dish" class="image-container" />
            </td>
            <td>{{ item.dish }}</td>
            <td>{{ item.price }} {{ tipService.currency() }}</td>
            <td>
              <button type="button" class="btn-order" (click)="addToOrder(item)">+</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
