<section>
  <h2>Расчет чаевых</h2>
  <form id="tip-form" [formGroup]="tipForm">
    <div class="form-group">
      <label for="bill-amount">Сумма счета:</label>
      <input
        name="input-bill-amount"
        type="number"
        id="bill-amount"
        required
        min="10"
        formControlName="bill"
        readonly />
    </div>

    <div class="form-group">
      <label for="tip-percentage">Процент чаевых:</label>
      <select name="select-tip-percentage" id="tip-percentage" formControlName="precent">
        @for (tip of percentages; track $index) {
          <option [ngValue]="tip.value">{{ tip.name }}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label for="currency">Валюта:</label>
      <select name="select-currency" id="currency" formControlName="currency">
        @for (item of currencies; track $index) {
          <option [ngValue]="item.value">{{ item.name }}</option>
        }
      </select>
    </div>
  </form>
</section>

<section>
  <h2>История расчетов</h2>
  <div>
    @if (tipService.history().length === 0) {
      <p class="empty-message">История пока пуста...</p>
    }

    @if (tipService.history().length > 0) {
      @for (item of tipService.history(); track $index) {
        <p>{{ item.bill }} — {{ item.tip }}</p>
      }
    }
  </div>
</section>
