<section>
  <h2>Расчет чаевых</h2>
  <form id="tip-form" [formGroup]="tipForm">
    <div class="form-group">
      <label for="bill-amount">Сумма счета:</label>
      <input
        name="input-bill-amount"
        type="number"
        id="bill-amount"
        required
        min="10"
        formControlName="bill"
        readonly />
    </div>

    @let percent = tipService.precent();

    <div class="form-group">
      <label for="tip-percentage">Процент чаевых: {{ percent | tipEmoji }}</label>
      <select name="select-tip-percentage" id="tip-percentage" formControlName="precent">
        @for (item of percentages; track item.value) {
          <option [ngValue]="item.value">{{ item.name }}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label for="currency">Валюта:</label>
      <select name="select-currency" id="currency" formControlName="currency">
        @for (item of currencies; track item.value) {
          <option [ngValue]="item.value">{{ item.name }}</option>
        }
      </select>

      <p>{{ calcStatus() }}</p>
    </div>
  </form>
</section>
